<h1> Create New Pour </h1>
<%= form_for :pour, url: pours_path do |f| %>

  <p>
    <%= f.label "User Name" %> <br>
    <%= collection_select(:pour, :user_id, User.all, :id, :username) %>
  </p>

  <p>
    <%= f.label "Keg Name" %> <br>
    <%= collection_select(:pour, :keg_id, Keg.all, :id, :name) %>
  </p>
  
  <p>
    <%= f.label "Volume: " %><br>
    <%= f.select(:volume, options_for_select([[8, 8], [12, 12], [16, 16]])) %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>