%h1 Create New Keg
= form_for :keg, url: kegs_path do |f| 
  %p
    = f.label "Keg Name:"
    = f.text_field :name, value: @keg.try(:name)
    = f.label "Currently tapped?"
    = f.check_box :currently_tapped
    = f.label "Keg Size"
    = f.select(:volume, options_for_select([["5 gallon", 640], ["15.5 gallons", 1984]], "5 gallon"))

  %p
    = f.submit 

  %p
    = link_to 'Back to Drinking', new_pour_path
